<form [formGroup]="form" (ngSubmit)="onSubmit()" *ngIf="films$ | async as films">
  <select
    placeholder="Name"
    formControlName="name"
    [(ngModel)]="currentId"
    (change)="onChange()"
  >
    <option *ngFor="let film of films | sortFilms" [value] = "film.id">
      {{film.name}}
    </option>
  </select><br>
  <input type="text" placeholder="Type" formControlName="type" [ngModel]="currentFilm?.type"><br>
  <input placeholder="Ваша оценка" formControlName="score"><br>
  <div class="score-error" *ngIf="form.get('score')?.invalid && (form.get('score')?.dirty || form.get('score')?.touched)">
    <span *ngIf="form.get('score')?.errors?.['limitedScore'] && form.get('score')?.invalid">
      Оценка должна быть в пределах от 0 до 5.<br>
    </span>
    <span *ngIf="form.get('score')?.errors?.['correctScore']">
      Поле должно содержать только числа.
    </span>
    <span *ngIf="form.get('score')?.errors?.['correctScoreInput']">
      Поле должно содержать только цифры.
    </span>
  </div>
  <textarea placeholder="Ваш отзыв" formControlName="review">
  </textarea><br>
  <span *ngIf="form.get('review')?.errors?.['lengthReview'] && form.get('review')?.invalid">
    Максимальная длина отзыва 10 символов<br>
  </span>
  <button type="submit" [disabled]="form.invalid"> Дать отзыв</button>
</form>
