input.ng-touched.ng-valid {border: 2px solid forestgreen}
input.ng-touched.ng-invalid { border: 2px solid #B00000 }
textarea.ng-touched.ng-valid {border: 2px solid forestgreen}
textarea.ng-touched.ng-invalid { border: 2px solid #B00000 }
select.ng-touched.ng-valid {border: 2px solid forestgreen}

.form_review {
  margin-left: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 400px;
  height: 500px;
  padding: 10px;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0 0 10px 5px rgba(221, 221, 221, 1);
  border: 1px solid black;
}
input, select, text, button, textarea {
  margin-top: 15px;
  padding: 5px;
  font-size: 16px;
  font-family: sans-serif;
}

textarea {
  width: 75%;
  height: 30%;
  overflow-y: scroll;
  border-radius: 5px;
  border: 2px solid black;
}

select {
  width: 300px;
  height: 35px;
  border: none;
  border-radius: 3px;
  border: 2px solid black;
}

select:focus {
  border: none;
}

button {
  background-color: aliceblue;
  color: black;
  width: 100px;
  height: 40px;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  transition: 0.7s;
}

button:not(:hover) {
  -webkit-transform: scale(1);
  transform: scale(1);
  transition: 0.7s;
}

input {
  width: 300px;
  height: 35px;
  border-radius: 5px;
  border: 2px solid black;
  padding: 7px;
}

label {
  margin-top: 20px;
  margin-right: 50%;
}

#review {
  margin-right: 56%;
}

#title {
  font-size: 20px;
  margin-right: 0;
  margin-top: 0;
}
.description{
  margin-top: 30px;
  font-size: 18px;
  font-family: sans-serif;
  box-shadow: 0 0 10px 5px rgba(221, 221, 221, 1);
  border-radius: 10px;
  padding: 10px;
  height: 100%;
  width: 100%;
}

.form_error_review{
  color: #f43648;
  margin-top: 10px;
  font-size: 14px;
}
