<nav class="menu">
    <ul class="contentMenu">
        <li routerLinkActive="active" class="menu-item">
            <a [routerLink]="['/system','user']" class="menu-link"> Личный кабинет</a>
        </li>
        <li routerLinkActive="active" class="menu-item">
            <a [routerLink]="['/system', 'products']" class="menu-link"> Список Фильмов </a>
        </li>
        <li routerLinkActive="active" class="menu-item">
            <a [routerLink]="['/system', 'proguctreview']" class="menu-link"> Добавить свой фильм </a>
        </li>
        <li routerLinkActive="active" class="menu-item">
            <a [routerLink]="['/system', 'review']" class="menu-link"> Оставить отзыв </a>
        </li>
    </ul>
</nav>
